In [1]:
import sqlite3
conn = sqlite3.connect("database.sqlite")
cur = conn.cursor()

In [2]:
import pandas as pd
cur.execute('''SELECT * FROM matches''')
matches = pd.DataFrame(cur.fetchall())
matches.columns = (x[0] for x in cur.description)
matches.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [3]:
#retrieving 2011 seasons game
yr_11 = pd.DataFrame(cur.execute('''SELECT * FROM matches WHERE season == 2011''').fetchall())
yr_11.columns = [x[0] for x in cur.description]
yr_11.head()

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

In [4]:

# def match_winner():
#     if yr_11['FTAG']>yr_11['FTHG']:
#         yr_11['winner']=yr_11['AwayTeam']
#     else:
#         yr_11['winner']=yr_11['HomeTeam']
# for match in Match_ID:

In [5]:
# def fun(x):
#     if x=='A':
#         return 1
#     elif x=='H':
#         return 1
#     else:
#         return 0
    
# yr_11['win']=yr_11['FTR'].apply(fun)
# yr_11

In [6]:
away_wins = yr_11[yr_11['FTR'] =='A']['AwayTeam'].value_counts()

In [7]:
home_wins = yr_11[yr_11['FTR'] =='H']['HomeTeam'].value_counts()

In [8]:
total_wins=away_wins+home_wins
total_wins

Aachen                 6
Arsenal               21
Aston Villa            7
Augsburg               8
Bayern Munich         23
Blackburn              8
Bochum                10
Bolton                10
Braunschweig          10
Chelsea               18
Cottbus                8
Dortmund              25
Dresden               12
Duisburg              10
Ein Frankfurt         20
Erzgebirge Aue         8
Everton               15
FC Koln                8
Fortuna Dusseldorf    16
Frankfurt FSV          7
Freiburg              10
Fulham                14
Greuther Furth        20
Hamburg                8
Hannover              12
Hansa Rostock          5
Hertha                 7
Hoffenheim            10
Ingolstadt             8
Kaiserslautern         4
Karlsruhe              9
Leverkusen            15
Liverpool             14
M'gladbach            17
Mainz                  9
Man City              28
Man United            28
Munich 1860           17
Newcastle             19
Norwich               12
Nurnberg              12
Paderborn             17
QPR                   10
Schalke 04            20
St Pauli              18
Stoke                 11
Stuttgart             15
Sunderland            11
Swansea               12
Tottenham             20
Union Berlin          14
Werder Bremen         11
West Brom             13
Wigan                 11
Wolfsburg             13
Wolves                 5
dtype: int64

In [9]:
away_loss = yr_11[yr_11['FTR'] =='D']['AwayTeam'].value_counts()

In [10]:
home_loss = yr_11[yr_11['FTR'] =='D']['HomeTeam'].value_counts()

In [11]:
total_loss=pd.DataFrame(away_loss+home_loss)
total_loss.columns=['Lost_matches_2011']
total_loss

                    Lost_matches_2011
Aachen                             13
Arsenal                             7
Aston Villa                        17
Augsburg                           14
Bayern Munich                       4
Blackburn                           7
Bochum                              7
Bolton                              6
Braunschweig                       15
Chelsea                            10
Cottbus                            11
Dortmund                            6
Dresden                             9
Duisburg                            9
Ein Frankfurt                       8
Erzgebirge Aue                     11
Everton                            11
FC Koln                             6
Fortuna Dusseldorf                 14
Frankfurt FSV                      14
Freiburg                           10
Fulham                             10
Greuther Furth                     10
Hamburg                            12
Hannover                           12
Hansa Rostock                      12
Hertha                             10
Hoffenheim                         11
Ingolstadt                         13
Kaiserslautern                     11
Karlsruhe                           6
Leverkusen                          9
Liverpool                          10
M'gladbach                          9
Mainz                              12
Man City                            5
Man United                          5
Munich 1860                         6
Newcastle                           8
Norwich                            11
Nurnberg                            6
Paderborn                          10
QPR                                 7
Schalke 04                          4
St Pauli                            8
Stoke                              12
Stuttgart                           8
Sunderland                         12
Swansea                            11
Tottenham                           9
Union Berlin                        6
Werder Bremen                       9
West Brom                           8
Wigan                              10
Wolfsburg                           5
Wolves                             10

In [12]:
import matplotlib.pyplot as plt

In [32]:
cur.execute("""Select Season , Date , HomeTeam AS Team  ,Div, sum(FTHG),FTR
               From Matches
               Where Season == '2011'
               and  Div != 'E0'
               Group By HomeTeam
;""")

In [33]:
df = pd.DataFrame(cur.fetchall())
df.columns = (x[0] for x in cur.description)
df.head()

   Season        Date           Team Div  sum(FTHG) FTR
0    2011  2012-03-30         Aachen  D2         15   A
1    2011  2011-11-06       Augsburg  D1         20   A
2    2011  2011-11-19  Bayern Munich  D1         49   A
3    2011  2012-03-02         Bochum  D2         23   A
4    2011  2011-10-22   Braunschweig  D2         21   A

In [30]:
cur.execute("""Select Season , Date , AwayTeam AS Team ,Div, sum(FTAG),FTR
               From Matches
               Where Season == '2011'
               and  Div != 'E0'
               Group By AwayTeam
;""")

In [31]:
df1 = pd.DataFrame(cur.fetchall())
df1.columns = (x[0] for x in cur.description)
df1.head()
# df1.columns=['Season','Date','Team','Div','Total_Goals','FTR']

   Season        Date           Team Div  sum(FTAG) FTR
0    2011  2011-11-20         Aachen  D2         15   H
1    2011  2011-08-27       Augsburg  D1         16   H
2    2011  2012-03-31  Bayern Munich  D1         28   A
3    2011  2011-11-27         Bochum  D2         18   H
4    2011  2011-11-18   Braunschweig  D2         16   H

In [35]:
total=df.merge(df1,how='inner',on='Team')
total

,Season_x,Date_x,Team,Div_x,sum(FTHG),FTR_x,Season_y,Date_y,Div_y,sum(FTAG),FTR_y
0,2011,2012-03-30,Aachen,D2,15,A,2011,2011-11-20,D2,15,H
1,2011,2011-11-06,Augsburg,D1,20,A,2011,2011-08-27,D1,16,H
2,2011,2011-11-19,Bayern Munich,D1,49,A,2011,2012-03-31,D1,28,A
3,2011,2012-03-02,Bochum,D2,23,A,2011,2011-11-27,D2,18,H
4,2011,2011-10-22,Braunschweig,D2,21,A,2011,2011-11-18,D2,16,H
5,2011,2011-07-15,Cottbus,D2,18,H,2011,2012-02-06,D2,12,H
6,2011,2012-04-11,Dortmund,D1,44,H,2011,2011-08-27,D1,36,D
7,2011,2012-02-24,Dresden,D2,30,H,2011,2011-12-18,D2,20,D
8,2011,2011-08-26,Duisburg,D2,23,H,2011,2011-08-07,D2,19,D
9,2011,2012-03-16,Ein Frankfurt,D2,38,H,2011,2011-11-07,D2,38,A
10,2011,2012-04-21,Erzgebirge Aue,D2,19,D,2011,2012-04-05,D2,12,H
11,2011,2012-05-05,FC Koln,D1,20,A,2011,2011-12-03,D1,19,D
12,2011,2011-11-04,Fortuna Dusseldorf,D2,35,H,2011,2012-04-29,D2,29,D
13,2011,2012-05-06,Frankfurt FSV,D2,20,D,2011,2011-12-04,D2,23,D
14,2011,2012-02-18,Freiburg,D1,24,D,2011,2011-08-06,D1,21,D
15,2011,2011-08-06,Greuther Furth,D2,46,H,2011,2011-08-13,D2,27,A
16,2011,2012-02-04,Hamburg,D1,19,D,2011,2011-08-20,D1,16,H
17,2011,2011-10-23,Hannover,D1,31,H,2011,2012-03-24,D1,10,H
18,2011,2011-12-18,Hansa Rostock,D2,20,D,2011,2011-10-21,D2,14,H
19,2011,2012-03-17,Hertha,D1,19,A,2011,2011-09-25,D1,19,H
20,2011,2011-10-01,Hoffenheim,D1,21,D,2011,2011-11-20,D1,20,H
21,2011,2011-09-16,Ingolstadt,D2,28,H,2011,2012-03-23,D2,15,A
22,2011,2011-08-27,Kaiserslautern,D1,12,A,2011,2012-01-28,D1,12,D
23,2011,2012-04-11,Karlsruhe,D2,23,H,2011,2011-10-15,D2,11,H
24,2011,2012-03-03,Leverkusen,D1,28,H,2011,2011-09-24,D1,24,H
25,2011,2012-01-20,M'gladbach,D1,29,H,2011,2012-03-17,D1,20,A
26,2011,2011-11-27,Mainz,D1,27,H,2011,2012-03-17,D1,20,H
27,2011,2011-10-02,Munich 1860,D2,35,A,2011,2012-04-29,D2,27,A
28,2011,2012-03-31,Nurnberg,D1,22,A,2011,2012-04-14,D1,16,A
29,2011,2012-02-17,Paderborn,D2,28,D,2011,2011-07-17,D2,23,A
30,2011,2011-09-18,Schalke 04,D1,47,A,2011,2012-04-01,D1,27,D
31,2011,2011-11-27,St Pauli,D2,36,H,2011,2011-08-12,D2,23,A
32,2011,2011-12-11,Stuttgart,D1,36,A,2011,2011-12-17,D1,27,H
33,2011,2012-02-11,Union Berlin,D2,30,H,2011,2011-07-15,D2,25,D
34,2011,2012-04-21,Werder Bremen,D1,31,A,2011,2011-11-19,D1,18,H
35,2011,2011-08-13,Wolfsburg,D1,29,A,2011,2011-08-06,D1,18,A

In [ ]:
# df['Total_Goals'] = df['sum(FTHG)'] + df1['sum(FTAG)']
# df

In [ ]:
# df.drop(['sum(FTHG)','Div'],axis=1,inplace=True)

In [43]:
# df.columns=['Season','date','Team','Total_Goals']

In [42]:
df

    Season        Date                Team Div  sum(FTHG) FTR
0     2011  2012-03-30              Aachen  D2         15   A
1     2011  2011-11-06            Augsburg  D1         20   A
2     2011  2011-11-19       Bayern Munich  D1         49   A
3     2011  2012-03-02              Bochum  D2         23   A
4     2011  2011-10-22        Braunschweig  D2         21   A
5     2011  2011-07-15             Cottbus  D2         18   H
6     2011  2012-04-11            Dortmund  D1         44   H
7     2011  2012-02-24             Dresden  D2         30   H
8     2011  2011-08-26            Duisburg  D2         23   H
9     2011  2012-03-16       Ein Frankfurt  D2         38   H
10    2011  2012-04-21      Erzgebirge Aue  D2         19   D
11    2011  2012-05-05             FC Koln  D1         20   A
12    2011  2011-11-04  Fortuna Dusseldorf  D2         35   H
13    2011  2012-05-06       Frankfurt FSV  D2         20   D
14    2011  2012-02-18            Freiburg  D1         24   D
15    2011  2011-08-06      Greuther Furth  D2         46   H
16    2011  2012-02-04             Hamburg  D1         19   D
17    2011  2011-10-23            Hannover  D1         31   H
18    2011  2011-12-18       Hansa Rostock  D2         20   D
19    2011  2012-03-17              Hertha  D1         19   A
20    2011  2011-10-01          Hoffenheim  D1         21   D
21    2011  2011-09-16          Ingolstadt  D2         28   H
22    2011  2011-08-27      Kaiserslautern  D1         12   A
23    2011  2012-04-11           Karlsruhe  D2         23   H
24    2011  2012-03-03          Leverkusen  D1         28   H
25    2011  2012-01-20          M'gladbach  D1         29   H
26    2011  2011-11-27               Mainz  D1         27   H
27    2011  2011-10-02         Munich 1860  D2         35   A
28    2011  2012-03-31            Nurnberg  D1         22   A
29    2011  2012-02-17           Paderborn  D2         28   D
30    2011  2011-09-18          Schalke 04  D1         47   A
31    2011  2011-11-27            St Pauli  D2         36   H
32    2011  2011-12-11           Stuttgart  D1         36   A
33    2011  2012-02-11        Union Berlin  D2         30   H
34    2011  2012-04-21       Werder Bremen  D1         31   A
35    2011  2011-08-13           Wolfsburg  D1         29   A

In [52]:
import requests
import json
lat = 52.5200
long = 13.4050
f_dict = {'Date':[], 'forecast':[]}
for Date in list(df['Date']):
    weather = requests.get(f'https://api.darksky.net/forecast/481ef956c3470ce5de61e18f0817864a/{lat},{long},{Date}T17:00:00')
    f_dict['Date'].append(Date)
    f_json = weather.json()
    try:
        weather = f_json['currently']['summary']
    except:
        try:
            weather = f_json['hourly']['summary']
        except:
            weather = 'no rain'
    f_dict['forecast'].append(weather)

In [ ]:
f_dict.keys()

In [ ]:
f_dict.values()

In [28]:
df_weather=pd.DataFrame(f_dict)
df_weather['forecast'].unique()

array(['Mostly Cloudy', 'Foggy overnight and in the morning.',
       'Mostly cloudy throughout the day.', 'Overcast', 'no rain',
       'Partly Cloudy'], dtype=object)

In [50]:
df.head()
# result = pd.merge(df, df_weather, on='Date')

   Season        Date           Team Div  sum(FTHG) FTR
0    2011  2012-03-30         Aachen  D2         15   A
1    2011  2011-11-06       Augsburg  D1         20   A
2    2011  2011-11-19  Bayern Munich  D1         49   A
3    2011  2012-03-02         Bochum  D2         23   A
4    2011  2011-10-22   Braunschweig  D2         21   A

In [51]:
df_weather.head()

         date                             forecast
0  2012-03-30                        Mostly Cloudy
1  2011-11-06  Foggy overnight and in the morning.
2  2011-11-19    Mostly cloudy throughout the day.
3  2012-03-02                             Overcast
4  2011-10-22                              no rain

In [ ]:
import pymongo

In [ ]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [ ]:

# # grab a database from your server 
# mydb = myclient['result']

In [ ]:
# import pandas as pd

# df_new = pd.DataFrame.from_dict(f_json()['hourly'])
# print(len(df_new)) #Print how many rows
# print(df_new.columns) #Print column names
# df_new.head()